pre.line-numbers {
	counter-reset: line-count;
	padding-left: calc(3ch + 1.5em + 1px);
}

pre.line-numbers .token.line-number {
	display: inline-block;
	min-width: calc(3ch + 1.5em + 1px);
	margin-left: calc(-3ch - 1.5em - 1px);
	text-align: right;
	font-variant-numeric: tabular-nums;
	color: #999;
}

pre.line-numbers .token.line-number::before {
	counter-increment: line-count;
	content: counter(line-count);
	display: inline-block;
	user-select: none;
	padding-right: 0.75em;
	margin-right: 0.75em;
	border-right: 1px solid;
}